body {
 margin: 0;
 padding: 0;
 font-size: 20px;
 font-family: sans-serif;
 line-height: 1.5;
}

input {
 font-size: 15px;
}

form {
 font-size: 15px;
}

button {
 padding: 10px;
 background-color: #07f;
 color: #fff;
 border: solid 1px #000;
 border-radius: 5px;
 line-height: 1;
 cursor: pointer;
 font-size: 15px;
}

button:hover {
 background-color: #0af;
}

.container {
 margin: auto;
 padding: 20px;
 width: 800px;
}

.message {
 margin: 30px;
 text-align: center;
 font-weight: bold;
}

h1, h2 {
 text-align: center;
}

.form-container {
 width: 400px;
 margin: auto;
 text-align: center;
}

.form-container input {
 margin: 15px;
 width: 200px;
 border: none;
 border-bottom: solid 1px #aaa;
}

.form-container button {
 margin: 10px;
}

.file-uploader {
 width: 400px;
 margin: auto;
 margin-top: 10px;
 border: solid 1px #033;
 border-radius: 6px;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #07f;
}

.file-uploader input[type="file"]{
    width: 250px;
    cursor: pointer;
    padding: 10px;
    border: none;
    line-height: 1em;
    text-align: center;   
}

.file-uploader button {
 width: 150px;
 cursor: pointer;
 padding: 10px;
 border: none;
 line-height: 1em;
 text-align: center;
}

.file-uploader:hover {
 background-color: #0af;
}

.file-uploader input[type="file"] {
 color: #000;
 background-color: #fff;
}

.file-uploader input[type="file"]:hover {
 background-color: #ddd;
}

.text-form {
 width: 250px;
 margin: auto;
 margin-top: 50px;
 border: solid 1px #033;
 border-radius: 3px;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(133, 160, 182);
}

hr {
 margin: 30px;
}